.connect-button {
  position:absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  right:2%;
  top: 5%;
}


.button-image {
  width: 161px; /* Ajuste la taille selon tes besoins */
  height: 98px;
}

.movie-list {
    display: grid; /* Utilise une grille pour la disposition */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crée des colonnes de taille flexible */
    gap: 80px; /* Espace entre les éléments */
    row-gap: 100px;
    margin: 30px 30px; /* Espacement vertical */
    margin-bottom: 130px;
  }
  
  .movie-card {
/*     background-image: url(../images/affiche.jpg) !important;
    background-size: cover; */
    border: 5px solid #565555; /* Bordure autour de chaque film */
    width: 200px; /* Ajuste la largeur selon tes besoins */
    height: 300px; /* Ajuste la hauteur selon tes besoins */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner du relief */
    transition: transform 0.2s; /* Transition pour l'effet de survol */
    cursor: pointer; /* Ajout d'un curseur pointer */
  }
 
.movie-card h3 {
    text-align: center;
}

  .movie-card:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
} 

h2 {
    text-align: center;
}



input[type="text"] {
    padding: 10px;
    margin: 30px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    margin-left: 2%;
  }
  
  
p {
    font-size: xx-large;
    text-align: center;
    margin-top: 10%;
}

.genres-container {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne suivante si l'espace est insuffisant */
  gap: 10px; /* Espace entre les éléments */
  margin: 20px 0; /* Ajoute un peu d'espace autour de la section des genres */
}

.genre-item {
  display: flex;
  align-items: center; /* Aligne les éléments au centre */
}

.pagination-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pagination-buttons button {
  font-weight: bold;
  background-color: #20b3bb; /* Couleur d'arrière-plan pour le bouton actif */
  color: white; /* Couleur du texte pour le bouton actif */
  height: 40px;
  width: 80px;
}

.pagination-buttons h6 {
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  font-size: large;
}


.genres-container {
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;
}

.actor-suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.actor-suggestions li {
  display: flex; /* Aligne l'image et le texte en ligne */
  align-items: center; /* Centre l'image et le texte verticalement */
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  margin-bottom: 10px; /* Ajoute un espacement entre les éléments */
  padding: 5px; /* Ajoute un rembourrage interne pour l'espace */
}

.actor-suggestions li:hover {
  background-color: #f0f0f0; /* Change l'arrière-plan au survol */
}


.button-rated {
  background-color: #0e6e6f;
  margin-left: 100px;
}

